<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    
    <bean name="employee1" class="com.blazdemsar.domain.Employee">
    	<property name="empId" value="1" />
    	<property name="name" value="Blaz" />
    	<property name="job" value="Programmer" />
    	<property name="salary" value="5000" />
    	<property name="address" ref="addr1" />
    </bean>
    
    <bean name="employee2" class="com.blazdemsar.domain.Employee">
    	<property name="empId" value="2" />
    	<property name="name" value="Domen" />
    	<property name="job" value="DBA" />
    	<property name="salary" value="7000" />
    	<property name="address" ref="addr2" />
    </bean>
    
    <bean name="addr1" class="com.blazdemsar.domain.Address">
    	<property name="addressLine1" value="13522 Canada Goose Ct" />
    	<property name="addressLine2" value="House" />
    	<property name="city" value="Clifton" />
    	<property name="state" value="VA" />
    </bean>
    
    <bean name="addr2" class="com.blazdemsar.domain.Address">
    	<property name="addressLine1" value="Kosovelova Ulica 45" />
    	<property name="addressLine2" value="House" />
    	<property name="city" value="Ljubljana" />
    	<property name="state" value="Slovenia" />
    </bean>
    
</beans>